.content {
    font-family: "Solway", serif;
    color: #b9b9b9;
    display: flex;
    align-items: stretch;
    gap: 20px;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    .content {
        flex-direction: row;
    }

    .left-controls {
        overflow: scroll;
        width: calc((100% - 20px) / 3);
    }

    .display {
        overflow: scroll;
        width: calc((100% - 20px) * 2 / 3);
    }
}

@media only screen and (max-width: 599px) {
    .content {
        overflow: scroll;
        flex-direction: column;
    }

    .left-controls {
        width: 100%;
    }

    .display {
        width: 100%;
    }
}

.left-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 240px;
}

.display {
    text-align: left;
    white-space: preserve;
}

.options-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}